<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="bodyBox">
        <div class="topBox">
            <div class="topLeft">
                <h1>Add a Dojo</h1>
                <div class="userInputs">
                    <form action="process/dojo" method="POST">
                        {% csrf_token %}
                        <input type="text" name="name" id="name" placeholder="Name of Dojo" required>
                        <input type="text" name="city" id="city" placeholder="City" required>
                        <input type="text" name="state" id="state" placeholder="State  ex. CA" required><br>
                        <br><button type="submit">Add</button>
                    </form>
                </div>
            </div>
            <div class="topRight">
                <h1>Add a Ninja</h1>
                <div class="userInputs">
                    <form action="/process/ninja" method="POST">
                        {% csrf_token %}
                        <input type="text" name="first_name" id="first_name" placeholder="First Name" required>
                        <input type="text" name="last_name" id="last_city" placeholder="Last Name" required>
                        <select name="dojo" id="dojo" required>
                            <option value="" disabled selected>Select a Dojo</option>
                            <!-- for loop -->
                            {% for key in Dojos %}
                                <option value="{{key.id}}">{{key.loc_name}}</option>
                            {% endfor %}
                        </select><br>
                        <br><button type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottomBox">
            <div class="list">
                <h1>All the Dojos</h1>
                {% for dojo in Dojos %}
                    <label><strong>Ninjas at the {{dojo.loc_name}} Dojo</strong></label>
                    <form action="/deleted" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="deleted" value="{{dojo.id}}">
                        <button type="submit">Delete Dojo</button>
                    </form>
                    <ul>
                        {% for ninja in dojo.ninjas.all %}
                        <li>{{ninja.first_name}} {{ninja.last_name}}</li>
                        {% endfor %}

                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
